*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.DsaCard{
    display:grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}
.DsaCard {
    cursor:pointer; 
    background-image:linear-gradient(to right,rgb(0 0 0 / 0.5),rgb(0 0 0 / 0));
}

.cards{
    background-color:silver;
    color:green;
}